:root{
    --color-verde: #A5A58D;
    --color-rosa: #e9bfaa;
    --color-gris: #f7f8f8;
    --color-rosa-claro: #FFF1E6;

}

/*TIPOGRAFÍA PRINCIPAL*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*SECUNDARIA*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;    
    list-style: none !important;
    text-decoration: none !important;    
}


/*Sobreescribiendo Bootstrap*/
ul, li, p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: revert;
}

button, input, optgroup, select, textarea{
    font-size: revert;
}


html{
    font-size: 16px;    
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";  
  }
  
header{
    width: 100vh;
}


.navbar{
    height: 100px;
    width: 100%;
    padding: 1em 1em;
    display: flex;
        justify-content: space-between;
        align-items: center;
    position: fixed;    
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 5px 10px -9px #8C8C8C;
}

.navbar__burgernav{
    width: 70px;
    height: 30px;
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;

}

.navbar__burgernav span{
    width: 30px;
    height: 3px;
    background-color: var(--color-rosa);
}

.navbar a{
    width: 100px;
}

.navbar a img{
    width: 100px;
}

.navbar__menu{
    display: flex
}

.navbar__icons{
    width: 70px;
    display: flex;
        justify-content: space-between;
}

.navbar__icons a{
    color: var(--color-rosa);    
}

.navbar__menu{
    width: 100%;
    height: 50vh;
    display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    position: absolute;    
    right: 0;
    left: 0;
    top: 6em;
    background-color: #fff;
    transition: all .4s ease-in-out;
}

.active{    
    display: flex;
    box-shadow: 0px 5px 10px -5px #8C8C8C;

}

.navbar__menu li:not(:last-child){
    border-bottom: solid 1px var(--color-rosa-claro);
    width: 70%;
    height: 50px;
    text-align: center;
    
}

.navbar__menu li a{
    width: 100%;
    height: 50px;
    display: block;
    color: #000;
    text-transform: uppercase;
}

@media all and (min-width: 1024px){
    .navbar{            
        padding: 0 6em;
    }

    .navbar__burgernav{
        display: none;
    }
    
    .navbar__menu{    
        height: auto;
        width: 50%;
        display: flex;
            flex-direction: row;
        position: relative;
        top: 0;  
        left: 0;

    }

    .navbar__menu li a{
        height: auto;
    }

    .navbar__menu li a:hover{
        color: var(--color-rosa);
    }

    .navbar__menu li a::after{
        content: "";    
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--color-rosa);
    }
    
    .navbar__menu li a:hover::after {
        width: 100%;
        transition: width .3s;
    }

    .navbar__menu li:not(:last-child){
        height: auto;
        width: auto;
        border-bottom: 0px;
    }

    .navbar__icons{
        width: 120px;
    }

    .navbar__icons a{
        font-size: 1.2rem;
    }

    .navbar__icons a:hover{
        color: var(--color-verde);     
    }

}


/*Buscador*/

.buscador{
    height: 70px;
    width: 100%;
    transition-property: opacity;
    transition-duration: 0.3s;
    background-color: #fff;
    display: flex;
        justify-content: center;
        align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);    
    position: absolute;
    top: 6em;
    opacity: 0;
}

.buscador__input{
    width: 90%;
    height: 40%;
    border: solid 1px var(--color-rosa);
    outline: none;
    padding: 0.3em 1em;
}

::-webkit-input-placeholder{
    font-family: "Poppins";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.cerrar-btn{
    position: absolute;
    right: 2em;
    color: var(--color-rosa);
    cursor: pointer;
    opacity: 0.5;    
}

.cerrar-btn:hover{
    opacity: 1;
}

@media all and (min-width: 768px){
    .buscador__input{
        width: 70%;
        height: 50%;
    }

    .cerrar-btn{
        right: 8em;
    }
}

@media all and (min-width: 1024px){
    .buscador__input{
        width: 50%;
        height: 50%;
    }

    .cerrar-btn{
        right: 27em;
    }

}



/*Hero*/

.hero{
    background: linear-gradient(0deg, rgba(255, 234, 223, 0.737) 0%, rgb(255, 249, 245) 100%);    
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    overflow: hidden;
}

.hero__bg-img{
    height: 100%;
    width: 100%;
    background-image: url("../img/bg-home.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 400px;
    display: flex;
        justify-content: center;
        align-items: flex-start;
}


.hero__txt{
    width: 80%;
    height: 50%;
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    padding-top: 3em;
}

.hero__txt h1{
    width: 200px;
    font-family: "Abhaya Libre";
    font-size: 3rem;
    color: var(--color-verde);
    line-height: 2rem;
    text-align: center;
    margin-bottom: .3em;
}

.hero__txt p{
    font-family: "Poppins";
    font-size: 1.3rem;
    font-weight: 300;    
    line-height: 1.4rem;
    color: #000;
    text-align: center;
}

.cta-btn{
    width: 12em;
    height: 3em;
    padding: .7em 1em;
    margin-top: .7em;
    background-color:  var(--color-verde);
    cursor: pointer;
    display: flex;
        justify-content: center;
        align-items: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s; 
}

@media screen and (max-width: 320px){
    .hero__bg-img{
        background-size: 250px !important;
        background-position: bottom right;
    }
}

@media all and (max-width: 375px){
    .hero__bg-img{
        background-size: 350px;
        background-position: bottom right;
    }
}

@media all and (min-width: 768px){
    .hero__bg-img{
        background-size: 550px;
    }

    .hero__txt{
        width: 80%;
        padding-top: 4em;
    }

    .hero__txt h1{
        width: 50%;
        height: auto;
        font-size: 5em;
        line-height: 4rem;
    }

    .hero__txt p{
        width: 70%;
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: 1em;
    }
    
}

@media all and (min-width: 1024px){    
    .hero__bg-img{
        background-size: contain;
        justify-content: flex-start;
        align-items: center;
    }

    .hero__txt{
        width: auto;
        height: auto; 
        align-items: flex-start; 
        margin-left: 6em;
        padding: 0;

    }

    .hero__txt h1{
        width: auto;
        font-size: 5rem;
        margin-bottom: 0;
    }

    .hero__txt p{
        width: auto;
        font-size: 1.2rem
    }

    .cta-btn{
        font-size: 1rem;
    }

    .cta-btn:hover{
        background-color: #fff6f0;
        border: solid 2px var(--color-verde);
        color: var(--color-verde);
    }
}


/*Destacados*/

.destacados{
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 3em 0 5em 0;
}

.destacados .grid-container{
    width: 80%;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
        justify-content: center;
    column-gap: 2em;
    row-gap: 3em;
}

.grid-container h2{
    grid-column: 1 / -1;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.grid-item{
    display: flex;
        flex-direction: column;
        align-items: center;
}

.grid-item__img{
    max-width: 350px;
    max-width: 350px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1em;
}

.grid-container .grid-item img{
    width: 100%;
    transition: .3s;
}

.grid-container .grid-item img:hover{
    transform: scale(1.1);
}

.grid-item p span{
    text-transform: uppercase;
    font-size: .9rem;
    color: var(--color-verde);
    font-weight: 600;
    display: block;
}

.grid-item p{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.grid-item a{
    margin-top: .8em;
    background-color: var(--color-rosa);
    border: solid 2px var(--color-rosa);
    padding: .7em .9em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .9rem;
    transition: .3s;
}

.grid-item a:hover{
    background-color: #fff;
    border: solid 2px var(--color-rosa);
    color: var(--color-rosa);
}



/*Ofertas*/
.ofertas{
    margin: 0 2em;
    display: flex;
        flex-wrap: wrap;
}

.oferta-ppal{
    width: 100%;
    height: 15em;
    position: relative;
    display: flex;
        justify-content: center;
    transition: .3s ease-in;
    cursor: pointer;
    margin-bottom: 1em;
}

.oferta-ppal:hover{
    transform: scale(1.02);
}

.oferta-ppal h2{
    width: 60%;
    height: 100%;
    position: absolute;    
    right: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    color: var(--color-rosa);
    background-color: rgba(255, 255, 255, 0.737);
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.oferta-ppal h2 span{
    display: block;
    font-size: 1rem;
    line-height: 1rem
}

.oferta-ppal h2 a{
    padding: .7em 1em;
    margin-top: 1.1em;
    background-color:  var(--color-rosa);
    border: solid 2px var(--color-rosa);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    transition: 0.3s;
}

.oferta-ppal h2 a:hover{
    background-color: #fff;
    border: solid 2px var(--color-rosa);
    color: var(--color-rosa);
}

.oferta-ppal img{
    width: 100%;
    object-fit: cover;
    object-position: revert;
}

.oferta-sec{
    width: 100%;
    height: 15em;
    position: relative;
    display: flex;
        justify-content: center;
        align-items: center;
    transition: .3s ease-in;
    cursor: pointer;
}

.oferta-sec:hover{
    transform: scale(1.02);
}

.oferta-sec h2{
    width: 80%;
    height: 80%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.737);
    text-align: center;
    font-size: 1rem;
    color: var(--color-verde);
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.oferta-sec h2 span{    
    font-family: "Abhaya Libre";
    font-size: 2rem;
    font-weight: 600;
}

.oferta-sec h2 a{
    padding: .7em 1em;
    margin-top: 1.1em;
    background-color:  var(--color-verde);
    border: solid 2px var(--color-verde);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    transition: 0.3s;
}

.oferta-sec h2 a:hover{
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 2px var(--color-verde);
    color: var(--color-verde);
}

.oferta-sec img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media all and (max-width: 320px){
    .oferta-ppal h2{
        font-size: 2rem;
        padding: .3em;
    }

    .oferta-ppal h2 a{
        font-size: .5rem;
    }

    .oferta-sec h2{
        line-height: 1rem;
    }

    .oferta-sec h2 span{
        margin: .5em 0;
    }

    .oferta-sec h2 a{
        font-size: .5rem;        
    }
}


@media all and (min-width: 768px){
    .ofertas{
        margin: 0 10em;
    }
}

@media screen and (min-width: 1024px){
    .ofertas{
        margin: 0 6em;
        height: 400px;
        flex-wrap: nowrap;
    }

    .ofertas .oferta-ppal, .oferta-sec{
        height: 100%;
    }

    .oferta-ppal{
        margin-left: 2em;
    }

    .oferta-ppal h2{
        font-size: 4rem;
    }

    .oferta-ppal h2 span{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .oferta-sec h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
    }

    .oferta-sec h2 span{
        margin: .5em 0;
        font-size: 3rem;
    }
}



/*Nueva Linea*/

.nuevalinea{
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
        justify-content: center;
        align-items: center;
    margin-top: 2em;
    padding: 5em 0;    
}

.nuevalinea__grid-container{
    width: 80%;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
        row-gap: 1em;
        column-gap: 1em;
        justify-content: center;
}

.nuevalinea__grid-container h2{
    grid-column: 1 / -1;
    font-family: "Abhaya Libre";
    font-size: 3rem;
    color: var(--color-verde);
    text-align: center;
}

.nuevalinea__grid-container h2 span{
    display: block;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1rem;
}

.nuevalinea__grid-container p{
    grid-column: 1 / -1;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 1.5em;
}

.nuevalinea__grid-container > div{
    height: auto;    
    padding: 1em;
    background-color: #fff;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
}

.nuevalinea__grid-container > div h6{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.nuevalinea__grid-container > div h6 span{
    display: block;
    color: var(--color-verde);
}

.nuevalinea__grid-container > div a{
    height: 200px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.nuevalinea__grid-container > div img{
    max-height: 150px;
    transition: all .3s ease;
}



.nuevalinea__grid-container .icon-action{
    height: auto;
    display: flex;
        justify-content: center;
}


.nuevalinea__grid-container .icon-action a{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    color: var(--color-rosa);
    background-color:#fff;
    display: flex;
        justify-content: center;
        align-items: center;
    border-radius: 3em;
    margin: .3em;
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.15);
}


.nuevalinea__grid-container .icon-action a i:first-child{
    height: 2rem;
}

.nuevalinea__grid-container .icon-action  a:hover{
    background-color: var(--color-rosa);
    color: #fff;
}

/*Tienda*/

.tienda{
    overflow: hidden;
    margin-bottom: 2em;
}

.tienda h1{    
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-rosa);
    display: flex;
        justify-content: center;
        align-items: center;
}

.tienda .view-mode__container{
    display: flex;
        justify-content: space-between;
}

.tienda .view-mode__container .view-mode__btn{
    display: flex;
     align-items: center;
}

.tienda .view-mode__container .view-mode__btn span{
    display: none;
}

.tienda .view-mode__container .view-mode__btn > button{
    background: none;
    border: none;
    font-size: 1.5rem;
}

.tienda .view-mode__container .view-mode__btn > button:last-of-type{
    margin-left: .5em;
}

.tienda .dropdown .dropdown-menu{
    border-radius: 0;
    margin-top: .5em;
}

.tienda .dropdown .dropdown-toggle{
    border-radius: 0;
    background-color: var(--color-rosa);
    border: none;
    text-transform: uppercase;
}

.tienda .container{
    padding: 0 1em;
}


.item-tienda {
    margin-top: 1em;    
    cursor: pointer;
}

.list-view > .item-tienda{
    width: 100%;
}

.item-tienda .card{
    border: none;
    align-items: center;
}


.item-tienda .card .card__img{
    width: 100%;
    height: 250px;
    padding: 1em;
    display: flex;
        justify-content: center;
        align-items: flex-end;
    border: solid 1px #d3d3d3;
    position: relative;
}


.item-tienda .card .card__img img{
    width: auto;
    height: 170px;
    position: relative;
    bottom: 59px;
}

.item-tienda .card .card__img .icon-action{
    width: 100%;
    position: absolute;
    display: flex;
        justify-content: center;
        align-items: flex-end;
}

.item-tienda .card .card__img .icon-action > a{    
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    color: var(--color-rosa);
    background-color:#fff;
    display: flex;
        justify-content: center;
        align-items: center;
    border-radius: 3em;
    margin: .3em;
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.15);
}

.item-tienda .card .card__img a:not(:last-child) i:first-child{
    height: 2rem;
}


.item-tienda .card .card-body{
    padding: 1em 0;
}

.item-tienda .card .card-body p{
    font-weight: 500;
    line-height: 1rem;
}

.item-tienda .card .card-body p span{
    display: block;
    margin-top: .5rem;
    font-weight: 700;
}

@media all and (max-width: 320px){    
    .container .item-tienda{
        width: 100%;
    }

    .item-tienda .card .card__img{
        height: 100%;
    }

    .item-tienda .card .card__img .icon-action{         
        height: 90%;
        display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        padding: 0 2em;
        bottom: .7em;
    }

    .item-tienda .card .card__img img{
        height: 130px;
        bottom: 0;
    }

    .item-tienda .card .card__img .icon-action a{
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
        border-radius: 100px;
    }

    .item-tienda .card .card__img a:not(:last-child) i:first-child{
        height: 1.7rem;
    }
}



@media all and (min-width: 1024px){

    .tienda .view-mode__container{
        justify-content: flex-end;
    }


    .tienda .view-mode__container .view-mode__btn{
        display: none;
    }


    .item-tienda .card .card__img .icon-action{ 
        width: auto;
        display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        padding: 3em 1em;
        right: 0;
        transform: scale(0);
        transition: all .4s ease;
    }

    .item-tienda .card .card__img .icon-action a{
        position: relative;
        right: 0;
    }

    .item-tienda .card .card__img .icon-action a:hover{
        background-color: var(--color-rosa);
        color: #fff;
    }

    .item-tienda .card .card__img img{
        height: 230px;
        bottom: 0;
    }

    
    .item-tienda .card:hover .icon-action{
        display: flex;
        transform: scale(1);
    }


    .item-tienda .card .card__img{
        transition: .2s ease-in;
    }

    .item-tienda .card .card__img:hover{
        transform: scale(1.05);
    }

}

/*Tienda Modal*/

.modal .modal-content{
    border-radius: unset;
}

.modal .modal-content h5{
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-rosa);
}

.modal .modal-content #btnCloseModal{
    margin: 0;
}

.modal .modal-content .modal-footer button{
    border-radius: unset;
}

.modal .modal-content .modal-footer .btn-secondary{
    background-color: #fff;
    border-color: var(--color-rosa-);
    color: var(--color-rosa);
}

.modal .modal-content .modal-footer .btn-primary{
    background-color: var(--color-rosa);
    border-color: var(--color-rosa);
}


/*Sobre nosotras*/

.header{
    width: 100%;
    padding: 8em 0 3em 0;
    background-color: var(--color-rosa-claro);
}

.header h1{    
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-rosa);
    display: flex;
        justify-content: center;
        align-items: center;
}

.historia{
    width: 100%;
}

.historia img{    
    background-image: url(/img/store_mobile.jpg);
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-top: 1em;
}

.historia .historia-txt{
    padding: 3em 2em;
    background-color: var(--color-rosa-claro);
}

.historia .historia-txt h3{    
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;    
    color: var(--color-rosa);
    margin-bottom: 1em;
}

.historia .historia-txt .txt-p{
    height: 300px;
    font-size: .9rem;
    line-height: 1.4rem;
    margin-bottom: 1em;
    overflow: hidden;
}


.historia .historia-txt .txt-p span:not(:last-of-type){
    display: block;
    margin-bottom: 1em;
}


.historia .historia-txt .leermas-btn{
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    font-family: "Poppins";
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-rosa);
    outline: none;
    cursor: pointer;
    display: block;
    margin: 1em 0 0 0;
}

.mostrar-mas{
    display: inline !important;   
}

.quienes-somos{
    margin: 2em auto;
}

.quienes-somos h3{    
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;    
    color: var(--color-rosa);
    margin-bottom: 1.5em;
    text-align: center;
}

.quienes-somos .cards{
    margin: 0 1em;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}


.cards .cards__content{
    width: calc(133px + 1em);
    position: relative;
    margin-bottom: 2em;
    cursor: pointer;
}

.cards__content img{
    width: 130px;
    position: absolute;
    top: .5em;
    left: .5em;
}

.cards__content::before{
    content: "";
    height: 200px;
    width: 133px;
    display: flex;
    background-color: var(--color-rosa-claro);
}

.cards__content p{
    font-weight: 500;
    color: var(--color-rosa);
    margin-top: .5em;
    text-align: center;
}

.cards__content p span{
    display: block;
    font-weight: 400;
    color: #000;
    font-size: .9rem;
}

.cards__content--hover{
    width: 130px;
    position: absolute;
    bottom: 3.2em;
    left: .5em;
    background-color: rgba(0, 0, 0, .7);
    padding: .7em;
    display: flex;
        flex-direction: column;
        justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .2s ease-in;
}

.cards__content--hover .social-media{
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
    line-height: .9rem;
    display: flex;
        justify-content: space-evenly;
}

.cards__content--hover .social-media a{
    color: #fff;
}

.cards .cards__content:hover .cards__content--hover{
    visibility: visible;
    opacity: 1;
}


.valor{
    background-color: var(--color-rosa-claro);
}

.valor__container{
    padding: 3em 2em 2em 2em;
}

.valor__container h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;    
    color: var(--color-rosa);
    text-align: center;
}

.valor__container p{
    font-size: .9rem;
    text-align: center;
    margin-bottom: 2em;
}

.valor__cards .icono{
    width: 8em;
    height: 8em;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
        justify-content: center;
    margin-bottom: 1.5em; 
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}


.valor__cards .cards{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    margin-bottom: 1.5em;
}

.valor__cards .icono img{
    width: 70px;
}



@media screen and (min-width: 768px){
    .historia .historia-txt .txt-p{
        width: auto;
        height: 250px;
    }


    .quienes-somos{
        margin: 0 0 3em 0;
    }

    .quienes-somos .cards{
        margin: 0 6em;
        height: auto;
    }

    .quienes-somos .cards .cards__content{
        width: 240px;
        height: 400px;
    }

    .quienes-somos .cards .cards__content img{
        width: 220px;
        top: 1em;
        left: 1em;
    }

    .quienes-somos .cards .cards__content::before{
        content: "";
        width: 220px;
        height: 330px;
    }

    .quienes-somos .cards .cards__content p{
        font-size: 1.5rem;
        margin-top: 1em;
    }

    
    .cards__content--hover{
        width: 220px;
        position: absolute;
        bottom: 3.4em;
        left: 1em;
    }

    .cards__content--hover p{
        font-size: 1rem !important;
        color: #fff;
        text-align: left;
        margin: 0 0 1em 0;
    }

    .cards__content--hover .social-media{
        display: flex;
            justify-content: space-around;
    }

    .cards__content--hover .social-media a{
        font-size: 1.5em;
        color: #fff;
    }

    .valor__container{
        display: flex;
            flex-direction: column;
            align-items: center;
    }

    .valor__container h3:not(:first-child){
        margin-bottom: 0;
    }

    
    .valor__container p{
        width: 70%;
    }

    .valor__container .valor__cards{
        display: flex;
            align-items: flex-start;  
    }

    .valor__container .valor__cards .cards{
        margin: 0;        
        width: 33%;
    }

}

@media screen and (min-width: 1024px){
    .historia{
        padding: 4em 7em;
        display: flex;
    }

    .historia img{
        width: 40%;
        margin-top: 0;
    }

    .historia .historia-txt{
        width: 60%;
        padding: 2.5em;
    }

    .historia .historia-txt .txt-p{
        width: auto;
        height: auto;
        font-size: 1rem;
    }

    .historia .historia-txt .leermas-btn{
        display: none;
    }


    .cards__content--hover{
        height: auto;
        width: 220px;
    }

    .valor__container .valor__cards{
        flex-direction: row;
    }

    .valor :is(.valor__container, .valor__cards .cards) p{
        font-size: 1rem;
    }

}

/*Contacto*/

.contacto{
    padding-top: 100px;
}

.mapa-tienda .contacto__info, .rrss-icon{
    display: none;
}

.contacto h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-rosa);    
    margin-top: 1em;
}

.contacto h1 span{
    display: block;
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: #000;
}

.contacto .contacto__form{
    padding: 2em;
}

.contacto__form--input{
    position: relative;    
    margin-bottom: 1em;
}

.contacto .contacto__form .contacto__form--input input{
    width: 100%;
    height: 55px;
    border: none;
    border-bottom: solid 1px var(--color-rosa);
    outline: none;
    padding: .5em 1em 0 1em;
}

.contacto .contacto__form .contacto__form--input label{
    position: absolute;
    left: 0;
    bottom: 20px;
    padding-left: 1em;
    color: #9b9b9b;
    pointer-events: none;
    transition: all .3s ease;
}


.contacto__form--input input:focus + label, 
.contacto__form--input input:valid + label{
    transform: translateY(-80%);
    font-weight: 600; 
    font-size: .9rem;
}

.contacto .contacto__form .contacto__form--textarea{
    position: relative; 
}

.contacto .contacto__form .contacto__form--textarea textarea{
    width: 100%;
    height: 200px;
    border: solid 1px var(--color-rosa);
    outline: none;
    padding: 2em;
}

.contacto .contacto__form .contacto__form--textarea label{
    position: absolute;
    left: 0;
    top: 20px;
    padding: 1em 0 0 1em;
    color: #9b9b9b;
    pointer-events: none;
    transition: all .3s ease;
}

.contacto__form--textarea textarea:focus + label,
.contacto__form--textarea textarea:valid + label{
    transform: translateY(-70%);
    font-weight: 600;
    font-size: .9rem;
}

.contacto .contacto__form .btn-enviar{
    width: 12em;
    padding: .7em 1em;
    margin-top: 10px;
    background-color: #fff;
    border: solid 2px var(--color-rosa);
    cursor: pointer;
    font-family: "Poppins";    
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-rosa);    
    transition: all 0.2s ease;
}

.contacto .contacto__form  .btn-enviar:hover{
    background-color: var(--color-rosa);
    color: #fff;
    font-weight: 600;
}


@media all and (min-width: 1024px){
    .contacto{        
        height: 100vh;
        display: flex;
            justify-content: center;
            align-items: center;
    }

    .mapa-tienda{
        width: 400px;
        padding: 2em;
        background-color: var(--color-rosa-claro);
        order: 3;
    }


    .mapa-tienda .contacto__info{
        display: block;
        margin-top: 2em;
    }

    .mapa-tienda .rrss-icon{
        width: 100%;
        display: flex;
            justify-content: space-evenly;
        margin-top: 1em;
        padding: 0 5em;
    }
    .mapa-tienda .rrss-icon a{
        color: #000;
    }

    .contacto .container{
        margin-top: 0;
    }

    .contacto__info li:first-child{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--color-rosa);
        margin-bottom: .5em;
    }

    .contacto__info li a{
        color: #000;
    }

    .contacto__form{
        width: 600px;
    }
}


/*Favoritos*/

.favoritos .header{
    width: 100%;
    padding: 8em 0 3em 0;
    background-color: var(--color-rosa-claro);
}

.favoritos .header h1{    
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-rosa);
    display: flex;
        justify-content: center;
        align-items: center;
}

.favoritos .favoritos__lista{
    flex-wrap: wrap;
}

.container{
    margin-top: 3em;
}

.row{
    display: flex;
    justify-content: center;
}

.item-fav{
    width: auto;
    flex: none;
}

.card__fav{
    border: none;
}

.card__fav--img{
    width: 250px;
    height: 300px;
    border: none;
    padding: 1em;
    display: flex;
        justify-content: center;
        align-items: center;
    border: solid 1px #d3d3d3;  
    cursor: pointer;
}

.favoritos .favoritos__lista .container .row .card__fav img{    
    height: 200px;
    width: auto;
}

.card-body{
    display: flex;
        flex-direction: column;
        justify-content: center;
}

.card__fav .card-body h3{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.card-body h3::after{
    content: "";
    display: block;
    border-bottom: solid 1px #d3d3d3;
    margin: 1em 0 0 0;
}

.card__fav .card-body p{
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1em;
}

.card-body .btn-primary{
    padding: .7em 1em;
    margin-bottom: 1em;
    background-color: var(--color-rosa);
    border-radius: unset;    
    border-color: var(--color-rosa);
    text-transform: uppercase;
    font-weight: 500;
}

.card-body .btn-secondary{
    padding: .7em 1em;
    margin-bottom: 1em;
    background-color: transparent;
    border-radius: unset;    
    border-color: var(--color-verde);
    text-transform: uppercase;
    color: var(--color-verde);
    font-weight: 500;
}

@media all and (min-width: 768px){
    .favoritos .favoritos__lista{
        padding: 1em;
    }

    .card-body .btn-primary:hover{
        padding: .7em 1em;
        margin-bottom: 1em;
        background-color: transparent;
        border-radius: unset;    
        border-color: var(--color-rosa);
        text-transform: uppercase;
        color: var(--color-rosa);
        font-weight: 500;
    }

    .card-body .btn-secondary:hover{
        padding: .7em 1em;
        margin-bottom: 1em;
        background-color: var(--color-verde);
        border-radius: unset;    
        border-color: var(--color-verde);
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
    }

}


/*Detalle de producto*/
.producto__wrapper{
    padding: 100px 0 50px 0;
}

.producto__wrapper .container{
    margin-top: 0;
}

.producto__wrapper .container .row .img-producto{
    display: flex;
        justify-content: center;
        align-items: center;
    padding-top: 2em;    
    background-color: #fff;      
    overflow: hidden;    
    cursor: pointer;
}


.producto__wrapper .container .row .img-producto img{
    height: 250px;    
    transition: all .4s ease;
}

.producto__wrapper .container .row .img-producto img:hover{
    transform: scale(1.3);  
}

.producto__wrapper .container .row .img-producto:before{
    content: "<i class="bi bi-zoom-in"></i>"
}


.header-producto{
    display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.header-producto h1{
    text-transform: uppercase;
    color: var(--color-rosa);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1em;
}

.header-producto p:first-of-type{    
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1.3em;
}

.header-producto p:last-of-type{
    margin-top: 1em;
    font-weight: 500;
    font-size: .8rem;
    cursor: pointer;
}

.header-producto p:last-of-type i{
    margin-right: .5em;
    font-size: 1.1rem;
}

.header-producto p:last-of-type:hover{
    color: var(--color-rosa);
}

.header-producto form{
    width: 100%;
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}

.header-producto form .input-cantidad{
    width: 100%;
    display: flex;
        flex-wrap: wrap;
    margin-bottom: .5em;

}

.header-producto form .input-cantidad input[type="button"]{
    width: 30px;
    background-color: #fff;
    border: solid 1px #e9e9e9;
}

.header-producto form .input-cantidad input[type="number"]{
    width: 50px;
    height: 50px;
    border: none;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    text-align: center;
    flex: 2;
}

.header-producto form button{
    width: 100%;
    padding: .7em 1em;
    background-color: transparent;
    border-radius: unset;    
    background-color: var(--color-rosa);
    border-color: var(--color-rosa);
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.header-producto form button:hover{
    background-color: #fff;
    border-color: var(--color-rosa);
    color: var(--color-rosa);
}

.header-producto form button:focus{
    box-shadow: none;
}

.producto__wrapper .container .row .shipping{
    width: 90%;
    height: 150px;
    margin: 2em 0;
    border: solid 1px var(--color-rosa);
    border-right: none;
    border-left: none;
    display: flex;
        flex-direction: column;
        justify-content: center;
}

.producto__wrapper .container .row .shipping p{
    font-size: .8rem;
    font-weight: 600;
}

.producto__wrapper .container .row .shipping p i{
    margin-right: 1em;
    font-size: .8rem;
}

.producto__wrapper .container .row .detalles-producto{
    padding: 0 2em;
}

.producto__wrapper .container .row .detalles-producto p:first-of-type{
    text-align: center;
    text-transform: uppercase;
    color: var(--color-rosa);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5em;
}

.producto__wrapper .container .row .detalles-producto p:last-of-type{
    font-size: .8rem;
}

@media all and (max-width: 320px){
    .producto__wrapper .container .row .shipping p{
        text-align: center;
    }
}

@media all and (min-width: 1024px){
    .producto__wrapper{
        padding-top: 100px;
        display: flex;
            align-items: center;
    }

    .producto__wrapper .container .row .img-producto{
        padding: 0;
    }

    .producto__wrapper .container .row .img-producto img{
        height: 80%;
    }

    .header-producto h1{
        font-size: 1.5rem;
        margin-bottom: .7em;
    }

    .header-producto form{
        width: 50%;
    }

    .producto__wrapper .container .row .shipping{
        width: 60%;
    }

    .producto__wrapper .container .row .shipping p{
        font-size: 1rem;
        font-weight: 500;
    }

    .producto__wrapper .container .row .detalles-producto p:first-of-type{
        font-size: 1.3rem;
    }

    .producto__wrapper .container .row .detalles-producto p:last-of-type{
        font-size: 1rem;
    }
}

/*Footer - Newsletter*/

.newsletter{    
    width: 100%;
    background-image: url(../img/bg-newsletter.jpg);
    background-size: cover;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    padding: 1em;
}

.newsletter h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.newsletter h4 span{
    display: block;
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 400;
}

.newsletter form{
    width: 80%;
    margin: 1em auto;
    display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
}

.newsletter form  input[type=email]{
    width: 100%;
    height: 3em;
    padding: .5em;
    border: 2px solid var(--color-verde);
}

.newsletter form button{
    width: 100%;
    padding: .7em 1em;
    background-color:  var(--color-verde);
    border: solid 2px var(--color-verde);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
}

@media all and (min-width: 768px){
    .newsletter form{
        width: 50%;
        flex-flow: row;
    }

    .newsletter form  input[type=email]{
        flex: 3;
    }

    .newsletter form button{
        height: 40px;
        flex: 1;
    }

}


/*Información*/
footer{
    background-color: var(--color-verde);
}

.info{
    padding: 2em;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.info a img{
    width: 80px;
    margin-bottom: 1em;
}

.info .footer__nav-links{
    order: 3;
    text-align: center;
    margin-top: 2em;
}

.info .footer__nav-links li a{
    width: 200px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.info .footer__nav-links li a:hover{
    font-weight: 500;
}

.info .info__links{
    text-align: center;
    margin-top: 1.5em;
    order: 2;
}

.info .info__links li:first-child{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.info .info__links li a{
    color: #fff;
    font-size: 1rem;
    display: flex;
        align-items: center;
        justify-content: center;
}

.info .info__links li a i{
    margin-right: .5em;
}

.info .rrss-icon{
    width: 200px;
    display: flex;
        justify-content: space-evenly;
    order: 1;
}

.info .rrss-icon a{
    font-size: 1.5rem;
}

.info .rrss-icon a i{
    color: #fff;
}

footer .copyright p{
    width: 200px;
    text-align: center;
    font-size: .7rem;
    font-weight: 400;
    color: #fff;
    margin: 0 auto;
    width: fit-content;
    order: 4;
    padding-bottom: 2em;
}

footer .copyright p span{
    display: block;
}

@media all and (min-width: 768px){
    .info{
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 4em;
    }

    .info .footer__nav-links{
        order: 1;
        text-align: left;
    }

    .info .info__links{
        order: 2;
    }

    .info .rrss-icon {
        order: 3;
        width: fit-content;
    }

    .info .rrss-icon a:not(:last-of-type){
        margin-right: 1em;
    }

    .info .info__links{
        margin-top: 0;
        display: flex;
            flex-direction: column;
    }

    .info .footer__nav-links{
        margin-top: 0;
    }

    .info .info__links li a{
        font-size: 1rem;
    }

    footer .copyright p span{
        display: inline;
    }
}

@media all and (min-width: 1024px){
    .info{
        padding: 2em 7em;
    }

    .info .info__links{
        flex-direction: row;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
    }

    footer .copyright p span{
        display: block;
    }    
}

/*Botón Top*/

#topBtn{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: var(--color-rosa);
    border-radius: 100px;
    display: flex;
        justify-content: center;
        align-items: center;
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.37);
    cursor: pointer;
    z-index: 1000;
    transition: all .2s ease-out;
}

#topBtn i{
    height: fit-content;
    margin-bottom: 2px;
    color: #fff;
}





